* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-right: 80px;
    margin-left: 80px;
}

.nav {
    background-color: #000000;
    color: rgb(255, 255, 255);
    height: 50px;
}

.nav-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px;
    padding-left: 20px;
}

.feed {
    color: rgb(7, 7, 7);
    height: 50px;
}

.feed-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    gap: 50px;
}

.section {
    flex: 2;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    gap: 10px;
    padding: 20px;
    font-weight: bold;
}

.top {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    align-content: center;
}

.bottom {
    display: flex;
}

button {
    height: 40px;
    width: 80px;
    background-color: #0e2bb9;
    color: white;
    font-size: 20px;
    box-shadow: 5px 5px black;
    border: 3px solid black;
    cursor: pointer;
}

.like-btn {
    background-color: rgb(246, 203, 62);
    color: black;
    padding: 2px;
    width: 110px;
    font-size: 20px;
}

.main-left {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 25%;
}

.main-left img {
    width: 120px;
    border-radius: 100px;
}

.main-left .section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    align-items: center;
}

.main-left .section a {
    font-size: 20px;
}

.main-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 75%;
}

.likes {
    font-size: 20px;
}